@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply bg-[rgba(0,0,0,0.3)];
    }
    .header-wrapper {
        @apply flex py-4 px-12 justify-between;
    }
    .account-wrapper {
        @apply flex items-center text-[#fff] cursor-pointer relative;
    }
    .account-wrapper:hover .account-navbar {
        @apply block;
    }
    .account-navbar {
        @apply absolute top-[theme(top.100+10)] right-0;
        @apply bg-white text-[#000] shadow-lg drop-shadow-xl;
        @apply hidden w-32 rounded;
    }
    .account-navbar::before {
        @apply absolute bottom-full right-[10%];
        content: ' ';
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 12px solid #fff;
    }
    .account-navbar li {
        @apply text-[#000];
    }

    #Cart {
        @apply w-[1200px] m-auto;
    }

    .menu-left {
        @apply ease-[cubic-bezier(0.95,0.05,0.795,0.035)];
        @apply bg-[#7E81FF] w-1/5 py-12;
        @apply absolute inset-y-0 left-0;
    }
    .product-page {
        @apply flex flex-col justify-center;
    }
    .product-page_link {
        @apply text-white;
    }
    .product-page_title {
        @apply py-4 text-center cursor-pointer;
    }
    .product-page_list {
        @apply bg-white text-[#000] ease-in duration-300;
    }

    .information-item {
        @apply py-[8px] px-[68px];
    }
    .table-thead {
        @apply border-[#111] border-solid;
        border-bottom-width: 1px;
    }
    .product-item {
        @apply p-[10px];
    }
    .btn-delete {
        @apply text-center py-[5px] rounded-lg px-[10px] text-white;
        background-color: rgb(220 38 38) !important;
    }
    .btn-add-cart {
        @apply text-center py-[5px] rounded-3xl px-[10px] text-white w-full h-[40px];
        background-color: #007bff !important;
    }
    .information-product-wrapper {
        @apply flex justify-around;
    }
    .information-item {
        @apply py-[8px] px-[68px];
    }
    /* <div className="information-product">
        <table className="information-product-wrapper"> */
}

